@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6990F2;
    background-image: url('/static/img/melissa-di-rocco-0aUKoaw-l00-unsplash.jpg');
    color: #62549c;
}

::selection {
    color: #fff;
    background: #6990F2;
}

.wrapper {
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    color: #62549c;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #62549c;;
}

form :where(i, p) {
    color: #62549c;
}

form i {
    font-size: 50px;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

section .row {
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: #6990F2;
    font-size: 30px;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}

.footer {
    background: rgb(48, 48, 48);
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
    position: fixed;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: #829ad8;
    text-decoration: none;
}